# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.storage
custom_components
development
device_trackers
deps
#tts
zones

# Specific file ignores
.config_entries.json
.uuid
.ps4-games.json
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
secrets.yaml
zones/home.yaml
zones/work.yaml

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitignore
!.gitkeep
!automations.yaml
!configuration.yaml
